### 라이브러리

In [480]:
from urllib.request import urlopen 
from urllib.parse import urlencode, unquote, quote_plus 
import urllib 
import requests 
import json 
import pandas as pd

from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus

### 기상청_지상(종관, ASOS) 일자료 조회서비스
#### 날짜, 최저기온, 최고기온, 습도

In [481]:
# url for request 
url = 'http://apis.data.go.kr/1360000/AsosDalyInfoService'
#url = 'http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList'

In [324]:
# 서비스키
# C%2BnmogTO%2BLYAzMLDTE2XUqHHdRc04POEKrJT%2FeJ7FlrBP4mIEKCF4aMcMGNzH88x1o%2FmjvLfFxOY8BOSZRHP%2FQ%3D%3D

In [487]:
import pandas as pd
import json
import requests
from bs4 import BeautifulSoup
import time

url = 'http://apis.data.go.kr/1360000/AsosDalyInfoService/'

queryParams = 'getWthrDataList?' + \
              'serviceKey=' + 'C%2BnmogTO%2BLYAzMLDTE2XUqHHdRc04POEKrJT%2FeJ7FlrBP4mIEKCF4aMcMGNzH88x1o%2FmjvLfFxOY8BOSZRHP%2FQ%3D%3D'+ \
              '&pageNo='+ '1' + \
              '&numOfRows='+ '999' + \
              '&dataType='+ 'JSON' + \
              '&dataCd='+ 'ASOS' + \
              '&dateCd='+ 'DAY' + \
              '&startDt='+ '20211223' + \
              '&endDt='+ '20211225' + \
              '&stnIds='+ '108' # \ 뒤에 공백 금지
print(url+queryParams)
result = requests.get(url + queryParams)
print(result)

http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList?serviceKey=C%2BnmogTO%2BLYAzMLDTE2XUqHHdRc04POEKrJT%2FeJ7FlrBP4mIEKCF4aMcMGNzH88x1o%2FmjvLfFxOY8BOSZRHP%2FQ%3D%3D&pageNo=1&numOfRows=999&dataType=JSON&dataCd=ASOS&dateCd=DAY&startDt=20211223&endDt=20211225&stnIds=108
<Response [200]>

In [488]:
js = json.loads(result.content)
data = pd.DataFrame(js['response']['body']['items']['item'])
data

,stnId,stnNm,tm,avgTa,minTa,minTaHrmt,maxTa,maxTaHrmt,mi10MaxRn,mi10MaxRnHrmt,...,avgM05Te,avgM10Te,avgM15Te,avgM30Te,avgM50Te,sumLrgEv,sumSmlEv,n99Rn,iscs,sumFogDur
0,108,서울,2021-12-23,2.7,-1.5,716,8.3,1451,,,...,5.1,8.3,11.5,15.8,17.5,1.4,1.9,,,
1,108,서울,2021-12-24,-0.3,-7.3,2400,3.2,1157,,,...,4.9,8.2,11.4,15.7,17.5,0.8,1.1,0.2,{눈}1220-1340. {박무}1240-1345. {박무}1435-{박무}{강도0...,

In [489]:
li = ['stnNm','tm','minTa','maxTa','avgRhm']
data = data.loc[:,li]
data.columns=['지역', '날짜', '최저기온', '최고기온', '습도']
data

   지역          날짜  최저기온 최고기온    습도
0  서울  2021-12-23  -1.5  8.3  53.5
1  서울  2021-12-24  -7.3  3.2  65.3